# System files
.DS_Store
Thumbs.db

# Sensitive and config files
.env
.env.local
.env.production
.env.development

# Composer Dependencies
/vendor/

# Upload folders
/uploads/
uploads/

# Logs
*.log
logs/
storage/logs/

# Cache / sessions
cache/
*.cache

# Publisher Backups
*.bak
*.swp
*.swo

# Temporary deployment files
*.sql
*.zip

# IDE / publishers
.vscode/
.idea/

# Node
node_modules/
package-lock.json
